<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>도로 현황</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />
    <style>
      body {
        font-family: 'NanumSquare', sans-serif;
        font-weight: 800;
      }
    </style>
    <script src="https://kit.fontawesome.com/88970fe683.js"></script>
    <script>
      window.onload = function() {
        changeColor();
      };
    </script>
    <% 
      var message;
      if(algo_data/10 == 1){
        message = "도시방면 차로를 "+algo_data%10+"차로로 조정하세요.";
      }else if(algo_data/10 == 2){
        message = "시골방면 차로를 "+algo_data%10+"차로로 조정하세요.";
      }else if(algo_data == 0){
        message = "현재 차로 조정 중입니다. 차로 현황을 주시하세요.";
      }else {
        message = "현재 차량 흐름이 크게 차이나지 않습니다. 차로 현황을 주시하세요.";
      }
      var echo_traffic = traffic.split('');
      var echo_signal = signal.split('');
    %>
  </head>
  <body>
    <nav class="sidebar-container">
      <div class="sidebar">
        <div class="sidebar-header">
          <h3 class="sidebar-title">가변차로<br />대시보드</h3>
          <hr class="sidebar-line" />
        </div>
        <ul class="sidebar-list">
          <li>
            <i class="fas fa-road list-icon active"></i>
            <a href="/" class="list-name active">도로 현황</a>
          </li>
          <li>
            <i class="fas fa-flag list-icon"></i>
            <a href="/edit" class="list-name">차로 변경</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="title">도로 현황</h1>
      <div class="road-box">
        <div class="asc-traffic">
          <div class="asc-direction">
            <h6 class="direction-name">&lt-- 도시<br />방면</h6>
          </div>
        </div>
        <img
          src="/images/road_image_empty.jpg"
          width="1150px"
          height="384px"
          class="road-image"
        />
        <div class="led-cross">
            <%
            var x = 1, y  = 0;
            var i = 0;
            for(i = 0; i < 21; i++){
              var traffic;
              %>
              <div id="led_<%=parseInt(y/7)+1%>_<%=y%7+1%>" class="led">
                  <img
                    id="led-<%=parseInt(y/7)+1%>-<%=y%7+1%>"
                    class="led_cross"
                    src="/images/led-<%=echo_traffic[i]%>.png"
                  />
                </div>
              <%
              y++;
            }
          %>
        </div>
        <div class="traffic-light">
            <%
            var x = 1, y  = 0;
            var i = 0;
            for(i = 0; i < 21; i++){
              var traffic;
              if(echo_signal[i] == 1){
                var si_1_mes = "arrow-right";
                var si_2_mes = "times";
                var si_1 = "51cf66";
                var si_2 = "e82828";
              }else if(echo_signal[i] == 2){
                var si_1_mes = "times";
                var si_2_mes = "arrow-left";
                var si_1 = "e82828";
                var si_2 = "51cf66";
              }else if(echo_signal[i] == 3){
                var si_1_mes = "times";
                var si_2_mes = "times";
                var si_1 = "e82828";
                var si_2 = "e82828";
                
              }
              
              %>
              <div id="light_<%=parseInt(y/7)+1%>_<%=y%7+1%>_1" class="light">
                <i class="fas fa-<%=si_1_mes%> light-icon" style="color:#<%=si_1%>"></i>
              </div>
              <div id="light_<%=parseInt(y/7)+1%>_<%=y%7+1%>_2" class="light">
                <i class="fas fa-<%=si_2_mes%> light-icon" style="color:#<%=si_2%>"></i>
              </div>
              <%
               y++;
            }
          %>
        <div class="desc-traffic">
          <div class="desc-direction">
            <h6 class="direction-name">시골<br />방면 --&gt</h6>
          </div>
        </div>
      </div>
      <h3 class="subtitle">추천</h3>
      <a href="#">
        <div class="recommend-box">
          <p class="recommended"><%=message%></p>
        </div>
      </a>
    </div>
  </body>
</html>
